body {
    background-color: #202124;
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    color: #eee;
}

.navbar-brand {
    font-family: "Roboto Mono", "Monaco", monospace;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding: 0;
}

.navbar-site {
    background-color: #202124;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.navbar-toggle {
    margin-top: 13px;
}

.title {
    font-size: 72px;
}

.subtitle {
    font-size: 36px;
    color: #ccc;
}

.search-button-container:hover {
    text-decoration: none;
}

.search-button-container:hover > #search-button {
    background-color: #333;
    transition: background-color .3s;
}

.search-form-element {
    background-color: #202124;
    border-color: #333;
    color: #A6A6A6;
    transition: background-color .3s;
}

.btn-museum {
    background-color: transparent;
    border-color: #666;
    color: #A6A6A6;
}

.btn-museum:hover {
    text-decoration: none;
    background-color: #333;
    border-color: transparent;
    color: #A6A6A6;
}

.search-form-input::placeholder {
    color: #A6A6A6;
}

.search-form-input:focus {
    background-color: #333;
    border-color: #333;
    color: #cccccc;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: background-color .3s;
}

.search-icon {
    opacity: 0.5;
}

.text-lighter {
    color: #999;
}

.polaroid {
    background-color: #fafafa;
    width: 250px;
    height: 300px;
    display: inline-flex;
    flex-flow: column;
    padding: 10px 10px 0;
    margin: 5px 15px;
}

.polaroid > .polaroid-image {
    background-size: cover;
    display: block;
    width: 230px;
    height: 230px;
    flex: 0 1 auto;
}

.polaroid > .polaroid-caption {
    color: #000;
    /*margin-top: 15px;*/
    height: auto;
    border: 2px solid red;
    flex: 0 1 auto;
}
