body {
    background-color: #202124;
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    color: #eee;
}

.navbar-brand {
    font-family: "Roboto Mono", "Monaco", monospace;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding: 0;
}

.navbar-site {
    background-color: #202124;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.navbar-toggle {
    margin-top: 13px;
}

.title {
    font-size: 72px;
}

.subtitle {
    font-size: 36px;
    color: #ccc;
}

.search-button-container:hover {
    text-decoration: none;
}

.search-button-container:hover > #search-button {
    background-color: #333;
    transition: background-color .3s;
}

.search-form-element {
    background-color: #202124;
    border-color: #333;
    color: #A6A6A6;
    transition: background-color .3s;
}

.search-form-input::placeholder {
    color: #A6A6A6;
}

.search-form-input:focus {
    background-color: #333;
    border-color: #333;
    color: #cccccc;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: background-color .3s;
}

.propose-field {
    background-color: #333;
    border-color: transparent;
    color: #a6a6a6;
    transition-property: color, background-color;
    transition-duration: .3s;
}

.propose-field:focus {
    background-color: #444;
    border-color: #333;
    color: #cccccc;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition-property: color, background-color;
    transition-duration: .3s;
}

.btn-propose {
    background-color: #555;
    color: #ccc;
    border-color: transparent;
    transition-property: color, background-color, border-color;
    transition-duration: .3s;
}

.btn-propose:hover {
    background-color: #333;
    color: #ccc;
    border-color: #555;
    transition-property: color, background-color, border-color;
    transition-duration: .3s;
}

.btn-museum {
    background-color: transparent;
    border-color: #666;
    color: #A6A6A6;
}

.btn-museum:hover {
    text-decoration: none;
    background-color: #333;
    border-color: transparent;
    color: #A6A6A6;
}

.btn-enter {
    background-color: transparent;
    color: #1ea91e;
    border-color: #1ea91e;
}

.btn-enter:hover {
    background-color: #1ea91e;
    border-color: transparent;
    color: #eeeeee;
}

.search-icon {
    opacity: 0.5;
}

.text-lighter {
    color: #999;
}

.polaroid {
    background-color: #fafafa;
    width: 200px;
    height: 250px;
    display: inline-flex;
    flex-flow: column;
    padding: 10px 10px 0;
    margin: 20px 25px;
    transition-property: transform, box-shadow;
    transition-duration: .3s;
    box-shadow: 0 0 45px 0 rgba(0,0,0,1);
}

.polaroid > .polaroid-image {
    background-size: cover;
    display: block;
    width: 180px;
    height: 180px;
    flex: 0 1 auto;
}

.polaroid > .polaroid-caption {
    color: #000;
    height: auto;
    flex: 1 1 auto;
    display: flex;
}

.polaroid > .polaroid-caption > p {
    margin: auto;
}

.polaroid-link:hover {
    text-decoration: none;
}

.polaroid-link:hover > .polaroid {
    transform: scale(1.05);
    transition-property: transform, box-shadow;
    transition-duration: .3s;
    box-shadow: 0 0 80px 5px rgba(0,0,0,1);
}

.no-blue-border {
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal {
    color: #000;
}

.halls-list {

    list-style-type: none;
}

.halls-list > li {
}

.halls-list > li > a {
    color: #eee;
    font-size: 32px;
}

.list-halls-index {
    color: #A6A6A6;
    text-decoration-line: underline;
}

.list-halls-index:hover {
    color: #eeeeee;
}

.museum-pic {
    /*margin-top: 100px;*/
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.museum-pic > img {
    width: 900px;
}

.propose-email-description {
    color: #a6a6a6;
    font-size: 14px;
    font-style: italic;
}
.pagination {
    border-radius: 0;
}

.pagination > .page-item > .page-link {
    background-color: transparent;
    color: #a6a6a6;
    border: none;
    width: 2.1em;
    height: 2.1em;
    border-radius: 5rem;
    transition-property: background-color, color;
    transition-duration: .3s;
}

.pagination > .page-item > .page-link:hover {
    background-color: rgba(160, 160, 160, 0.15);
    color: #fafafa;
    transition-property: background-color, color;
    transition-duration: .3s;
}

.pagination > .page-item.active > .page-link {
    color: #25b525;
    background-color: transparent;
    border: none;
    font-weight: bold;
}
