body {
    background-color: #202124;
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    color: #eee;
}

.navbar-brand {
    font-family: "Roboto Mono", "Monaco", monospace;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding: 0;
}

.navbar-site {
    background-color: #202124;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.navbar-toggle {
    margin-top: 13px;
}

.title {
    font-size: 72px;
}

.subtitle {
    font-size: 36px;
    color: #ccc;
}

.search-button-container:hover {
    text-decoration: none;
}

.search-button-container:hover > #search-button {
    background-color: #333;
    transition: background-color .3s;
}

.search-form-element {
    background-color: #202124;
    border-color: #333333;
    color: rgba(255, 255, 255, 0.5);
    transition: background-color .3s;
}

.search-form-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search-form-input:focus {
    background-color: #333;
    border-color: #333333;
    color: #cccccc;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: background-color .3s;
}

.search-icon {
    opacity: 0.5;
}
