<h4>{{ e.name }}</h4>
<h6>{% if country %}{{ country }}, {% endif %}{% if e.epoch %}{{ e.epoch }}{% endif %}</h6>
<hr>
<div class="text-left mb-4">
    {{ e.description|linebreaks }}
</div>
<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="background-color: #333">
        {% for img in e.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" style="height: 400px">
                <img class="d-block h-100 mx-auto" src="{{ img.image.url }}">
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button"
       data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Предыдущее</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button"
       data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Следующее</span>
    </a>
</div>
